#{include file="../Header.html"}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Toolbar-->
    #{include file="../Toolbar.html"}
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-fluid">
            <div class="row g-4">
                <!-- 会员等级 -->
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-header border-0">
                            <div class="card-title">
                                <h3 style="font-size:14px;font-weight:600;color:#303030;margin:0;">
                                    <i class="fa-duotone fa-regular fa-users-gear" style="color:#616161;margin-right:6px;"></i>会员等级
                                </h3>
                            </div>
                            <div class="card-toolbar">
                                <button class="btn btn-sm btn-light-primary btn-group-create"><i class="fa-duotone fa-regular fa-circle-plus"></i>新增等级
                                </button>
                            </div>
                        </div>
                        <div class="card-body py-3">
                            <table id="user-group"></table>
                        </div>
                    </div>
                </div>

                <!-- 商品分组 -->
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-header border-0">
                            <div class="card-title">
                                <h3 style="font-size:14px;font-weight:600;color:#303030;margin:0;">
                                    <i class="fa-duotone fa-regular fa-group-arrows-rotate" style="color:#616161;margin-right:6px;"></i>商品分组
                                </h3>
                            </div>
                            <div class="card-toolbar">
                                <button class="btn btn-sm btn-light-primary btn-commodity-group-create"><i class="fa-duotone fa-regular fa-circle-plus"></i>
                                    添加分组
                                </button>
                            </div>
                        </div>
                        <div class="card-body py-3">
                            <form class="search-query"></form>
                            <table id="commodity-group" ></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->

#{ready("/assets/admin/controller/user/group.js")}
#{include file="../Footer.html"}