<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
            <!--begin::Title-->
            <h1 class="d-flex align-items-center fw-bolder my-1" style="font-size:20px;color:#303030;">#{$title}</h1>
            <!--end::Title-->
            <!--begin::Separator-->
            <span class="mx-3" style="color:#e1e1e1;">›</span>
            <!--end::Separator-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-bold my-1" style="font-size:13px;">
                #{if is_array($toolbar)}
                #{foreach $toolbar as $bar}
                <li class="breadcrumb-item">
                    <a href="#{$bar.url}" class="#{if getLocalRouter()==$bar.url} text-dark fw-bolder #{else} text-muted #{/if} text-hover-primary" style="text-decoration:none;">#{$bar.name}</a>
                </li>
                <li class="breadcrumb-item">
                    <span style="color:#b5b5b5;margin:0 4px;">›</span>
                </li>
                #{/foreach}
                #{else}
                <li class="breadcrumb-item text-muted">
                    <a href="javascript:void(0)" class="text-muted text-hover-primary" style="text-decoration:none;">(✪ω✪)</a>
                </li>
                #{/if}
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->
    </div>
    <!--end::Container-->
</div>
<!--end::Toolbar-->